.buzon
    button 
        a(href="mailto:buzon@okpuppets.com" title="Escribe a nuestro buzón") Escribenos
    .buzon__contenerimg
        img(src=Myurl+"images/svg/buzon_closed.svg" alt="imagen de buzon cerrado" class="buzon_cerrado")
        img(src=Myurl+"images/svg/buzon_open.svg" alt="imagen de buzon abierto" class="buzon_abierto")