footer
    section.creditos
        h5 &copy; 2021 Okpuppets.com By #[a(href="https://www.galaxiaideas.com" title="Estudio Creativo" target="_blank") Galaxiaideas]
    script(src="https://www.okpuppets.com/js/uris_headers.js")
    script(src="https://www.okpuppets.com/js/efects.js")