.top_nav
    a(href="" title="Home") 
        .logo
            img(src="images/logo_principal_ok_puppets.png" alt="Logo Ok Puppets")
            h1 #[span >] OK Puppets
    nav
        ul
            li 
                a(href="index.html" title="Página de inicio") Inicio
            li 
                a(href="nosotros.html" title="Página Nosotros") Nosotros
            li 
                a(href="puppets.html" title="Página Catálogo") Puppets
            li 
                a(href="contacto.html" title="Página de COntacto") Contacto