.top_nav
    a(href="/" title="") 
        .logo
            img(src="images/logo_principal_ok_puppets.png" alt="Logo Ok Puppets")
            h1 #[span >]OK Puppets
    i.menu-icon.icofont-navigation-menu
    i.tache-icon.icofont-ui-close
    nav
        ul.menu
            li 
                a(href="./" title="Página de inicio") Inicio
            li 
                a(href="nosotros/" title="Página Nosotros") Nosotros
            li 
                a(href="puppets/" title="Página Catálogo") Puppets
            li 
                a(href="contacto/" title="Página de Contacto") Contacto
        ul.menu2
            li 
                a(href="./" title="Página de inicio") Inicio
            li 
                a(href="nosotros/" title="Página Nosotros") Nosotros
            li 
                a(href="puppets/" title="Página Catálogo") Puppets
            li 
                a(href="contacto/" title="Página de Contacto") Contacto