script.

  let host = window.location.host;
  let protocol = window.location.protocol;
  let path = window.location.pathname;
  let canonica = window.location.href;

-let site = "okpuppets/public";
-let url_a = "https://okpuppets.com/"; //Si es sitio usa www agregarlo.
-let url_r = "http://localhost/"+site+"/";
-let url_r2 = "http://192.168.100.222/okpuppets/";
-let url_r3 = "https://okpuppets.com/testing/";
-let Myurl = url_r;
-let Myurl_ima = Myurl;
-let mi_url_local = protocolo+barras+mi_host+laraiz;
-let mi_url_online = protocolo+barras+mi_host;
-let mi_url = mi_url_local;


-//capturar elementos
//- -let imgs = document.querySelectorAll('img');
//- -let ac = document.querySelectorAll('a');
//- -let sc = document.querySelectorAll('script');
//- -let sr = document.querySelectorAll('source');
//- -let li = document.querySelectorAll('link');


script.

  let Myurl = "#{Myurl}";
  let Myurl_ima = "#{Myurl_ima}";


//- if($Myurl == $url_a){
//-   $abrecoment ="";
//-   $cierracoment="";
//- } else{
//-   $abrecoment ="<!--";
//-   $cierracoment="-->";
//- }



