---
import BaseLayout from '../layouts/Base.astro';
import ContactForm from '../components/ContactForm.astro';
import { ClientRouter } from 'astro:transitions';

const Url = function(){
	if(import.meta.env.SITE){
		return import.meta.env.SITE;
	}else{
		return "/";
	}
}
const myUrl = Url();

---
<BaseLayout 
	titlePage="Ok Puppets - Home" 
	Meta_keywords="contacto, ok puppets, marionetas digitales, puppet digital." 
	Meta_description="Compartenos tus dudas y pedidos de diseños de puppets." 
	Meta_og_url=`${myUrl}contacto/`
	Meta_og_image=`${myUrl}images/og_images/og_image_index.webp`
	Meta_og_image_alt="puppes_adobe_image"
	Meta_canonical=`${myUrl}contacto/`
	Meta_autor="https://www.galaxiaideas.com"
	og_titlePage="Contactanos - Ok Puppets"
>

	<section id="main_container" class="main_container">
		<div class="my_container w-full">
			<section class="max-w-[1200px] m-auto">
				<h2 class="text-3xl font-semibold my-6">Contáctanos</h2>
					<p class="m-auto lg:text-2xl lg:leading-9">Estamos para ayudarte, escribenos para trabajar contigo.</p>
			</section>
			<ContactForm />
		</div>
	</section>
</BaseLayout>
<script is:inline src=`${myUrl}js/efects.js`></script>