---
import Welcome from '../components/Welcome.astro';
import BaseLayout from '../layouts/Base.astro';
import ContactForm from '../components/ContactForm.astro';
import BStats from '../components/BStats.astro';
import Hero from '../components/Hero.astro'
import { ClientRouter } from 'astro:transitions';

const Url = function(){
	if(import.meta.env.SITE){
		return import.meta.env.SITE;
	}else{
		return "/";
	}
}
const myUrl = Url();

---

<BaseLayout 
	titlePage="Ok Puppets - Home" 
	Meta_keywords="puppets, after efects, puppets digitales, marionetas, character animator" 
	Meta_description="Puppets para adobe character animator y para after efects, personajes para tus proyectos de animación." 
	Meta_og_url={myUrl}
	Meta_og_image=`${myUrl}images/og_images/og_image_index.webp`
	Meta_og_image_alt="puppes_adobe_image"
	Meta_canonical={myUrl}
	Meta_autor="https://www.galaxiaideas.com"
	og_titlePage="Ok Puppets - Home"
>
	  	
	<Hero />	
	<section id="main_container" class="main_container">
		<div class="my_container w-full">
			<section class="welcome m-auto py-6">
					<h1>Puppets digitales</h1>
					<h2 class="text-3xl font-semibold my-6">¿Qué es un Puppet?</h2>
					<p class="m-auto lg:text-2xl lg:leading-9 prose">  Puppet es una palabra e n inglés que traducido al español significa Títere, lo que en un amplio sentido, puede referirse a cualquier objeto que cumpla estos dos requisitos: 1. Que sea movido con un objetivo dramático o "en función dramática".​ Es decir, todo títere debe aspirar a convertirse en un personaje dentro de una trama y con una función dramática. 2. Que su movimiento se realice ante y para un público. Así lo corroboró el estadounidense Bil Baird cuando en 1965 definió al títere como "figura inanimada que cobra vida gracias al esfuerzo humano y lo hace ante un público". Visto en <a href="https://es.wikipedia.org/wiki/T%C3%ADteres" title="Ir a Wikipedia, Puppet">Wikipedia.</a></p>
			</section>
			<section class="ideas py-6">
					<h2 class="text-3xl font-semibold my-6">¿En que proyectos puedo utilizar los puppets digitales?</h2>
					<figure class="m-auto">
					<div class="figure__image"><img src="images/ideas/puppets_video_marketing.jpg" alt="puppets para video marketing"/></div>
					<h3 class="text-xl font-semibold my-4">VIDEO MARKETING</h3>
					<p>El video marketing es una estratégia muy utilizada por empresas que tienen presencia online, utilizar puppets para hacer videos creativos y originales sin duda llamará la atención de tus clientes.  </p>
					</figure>
					<figure>
					<div class="figure__image"><img src="images/ideas/puppets_para_videos_explicativos.jpg" alt="puppets para videos explicativos"/></div>
					<h3 class="text-xl font-semibold my-4">VIDEOS EXPLICATIVOS</h3>
					<p>Muchas veces mantener la atención de tu audicencia suele ser algo dificil de lograr, pero el simpre hecho de utilizar personajes ficticios convierte un video explicativo en algo que atrapa, puedes hacer uso de movimiento y de animaciónes que harán que tu público no se quieran perder que más viene en seguida.  </p>
					</figure>
					<figure>
					<div class="figure__image"><img src="images/ideas/puppets_para_sketches.jpg" alt="puppets para realizar sketches.jpg"/></div>
					<h3 class="text-xl font-semibold my-4">SKETCHES</h3>
					<p>Escribe tus guiones humoristicos y utiliza personajes para que actuen en tus sketches, utiliza la edición de video para que también tu puedas participar en ellos.  </p>
					</figure>
					<figure>
					<div class="figure__image"><img src="images/ideas/puppets_para_canales_de_youtube.jpg" alt="puppets para canales de youtube"/></div>
					<h3 class="text-xl font-semibold my-4">CANALES DE YOUTUBE</h3>
					<p>Si te cuesta trabajo estar frente a la camara o si solo prefieres que sea alguien más el que este al frente de tu canal puedes utilizar un titere, que hable con tu audiencia y sea el porta voz de tu cala de youtube.  </p>
					</figure>
					<figure>
					<div class="figure__image"><img src="images/ideas/streamings_con_puppets.jpg" alt="streaming con puppets"/></div>
					<h3 class="text-xl font-semibold my-4">STREAMING</h3>
					<p>Seguramente ya habrás visto que se pueden usar este tipo de personajes para que se hagan pasar por el streamer con un par de aplicaciónes y configuración, podrás ver a un gato, un perro o cualquier personaje hablando mientras hace el stream de algun video juego por ejemplo.  </p>
					</figure>
					<figure>
					<div class="figure__image"><img src="images/ideas/puppets_para_clases_online.jpg" alt="puppets para clases online"/></div>
					<h3 class="text-xl font-semibold my-4">CURSOS O CLASES ONLINE    </h3>
					<p>Cómo ya se mencionó un puppet es un personaje muy llamativo, y a los niños como a los adultos sin duda les causa curiosidad y será más seguro que harán caso al maestro, aun que este sea una marioneta. </p>
					</figure>
			</section>
			<section class="noticias"></section>
			<ContactForm />
		</div>
	</section>
		
</BaseLayout>
<script is:inline src=`${myUrl}js/efects.js`></script>