<section class="banner">
    <div class="textos_principales">
        <h2>Puppets para adobe Character Animator</h2>
        <h2>Puppets para Adobe After Efects</h2>
        <h2>Diseño de mascota empresarial</h2>
    </div>
    <div class="image_contenner"><img src="images/banners/principal.jpg" alt="Puppets para character animation y adobe after efcts"/></div>
</section>