-//Variables de META, deben ir en cada página y editar según la información del la página actual, agregar cuentas de facebook según la fanpage
-var meta_titlePage="Ok Puppets - Home";
-var meta_canonica="https://www.okpuppets.com/";
-var meta_descPage="Puppets para adobe character animator y para after efects, personajes para tus proyectos de animación.";
-var meta_keyWordsPage="puppets, after efects, puppets digitales, marionetas, character animator";
-var meta_ogImage="https://www.okpuppets.com/images/ideas/puppets_para_videos_explicativos.jpg";
-var js_urls = "../js/uris_headers.js";
-var js_efects = "../js/efects.js";

<!DOCTYPE html>
html(lang="es")
    head
        include inc/head.pug
    body
        header
            include inc/nav_principal.pug
            section.banner
                .textos_principales
                    h2 Puppets para adobe Character Animator
                    h2 Puppets para Adobe After Efects
                    h2 Diseño de mascota empresarial
                .image_contenner
                    img(src="./images/banners/principal.jpg" alt="Puppets para character animation y adobe after efcts")
        .my_container(class="w-full")
            section.welcome.m-auto
                h2(class="text-3xl font-semibold my-6") ¿Qué es un Puppet?
                p(class="m-auto lg:text-2xl lg:leading-9")   Puppet es una palabra e n inglés que traducido al español significa Títere, lo que en un amplio sentido, puede referirse a cualquier objeto que cumpla estos dos requisitos: 1. Que sea movido con un objetivo dramático o "en función dramática".​ Es decir, todo títere debe aspirar a convertirse en un personaje dentro de una trama y con una función dramática. 2. Que su movimiento se realice ante y para un público. Así lo corroboró el estadounidense Bil Baird cuando en 1965 definió al títere como "figura inanimada que cobra vida gracias al esfuerzo humano y lo hace ante un público". Visto en 
                    a(href="https://es.wikipedia.org/wiki/T%C3%ADteres" title="Ir a Wikipedia, Puppet") Wikipedia.
            section.ideas
                h2(class="text-3xl font-semibold my-6") ¿En que proyectos puedo utilizar los puppets digitales?
                figure(class="m-auto")
                    .figure__image
                        img(src="./images/ideas/puppets_video_marketing.jpg", alt="puppets para video marketing")
                    h3(class="text-xl font-semibold my-4") VIDEO MARKETING
                    p El video marketing es una estratégia muy utilizada por empresas que tienen presencia online, utilizar puppets para hacer videos creativos y originales sin duda llamará la atención de tus clientes.  
                figure
                    .figure__image
                        img(src="./images/ideas/puppets_para_videos_explicativos.jpg", alt="puppets para videos explicativos")
                    h3(class="text-xl font-semibold my-4") VIDEOS EXPLICATIVOS
                    p Muchas veces mantener la atención de tu audicencia suele ser algo dificil de lograr, pero el simpre hecho de utilizar personajes ficticios convierte un video explicativo en algo que atrapa, puedes hacer uso de movimiento y de animaciónes que harán que tu público no se quieran perder que más viene en seguida.  
                figure
                    .figure__image
                        img(src="./images/ideas/puppets_para_sketches.jpg", alt="puppets para realizar sketches.jpg")
                    h3(class="text-xl font-semibold my-4") SKETCHES
                    p Escribe tus guiones humoristicos y utiliza personajes para que actuen en tus sketches, utiliza la edición de video para que también tu puedas participar en ellos.  
                figure
                    .figure__image
                        img(src="./images/ideas/puppets_para_canales_de_youtube.jpg", alt="puppets para canales de youtube")
                    h3(class="text-xl font-semibold my-4") CANALES DE YOUTUBE
                    p Si te cuesta trabajo estar frente a la camara o si solo prefieres que sea alguien más el que este al frente de tu canal puedes utilizar un titere, que hable con tu audiencia y sea el porta voz de tu cala de youtube.  
                figure
                    .figure__image
                        img(src="./images/ideas/streamings_con_puppets.jpg", alt="streaming con puppets")
                    h3(class="text-xl font-semibold my-4") STREAMING
                    p Seguramente ya habrás visto que se pueden usar este tipo de personajes para que se hagan pasar por el streamer con un par de aplicaciónes y configuración, podrás ver a un gato, un perro o cualquier personaje hablando mientras hace el stream de algun video juego por ejemplo.  
                figure
                    .figure__image
                        img(src="./images/ideas/puppets_para_clases_online.jpg", alt="puppets para clases online")
                    h3(class="text-xl font-semibold my-4") CURSOS O CLASES ONLINE    
                    p Cómo ya se mencionó un puppet es un personaje muy llamativo, y a los niños como a los adultos sin duda les causa curiosidad y será más seguro que harán caso al maestro, aun que este sea una marioneta. 
            section.noticias
            section.contacto
                .buzon
                    button 
                        a(href="mailto:buzon@okpuppets.com" title="Escribe a nuestro buzón") Escribenos
                    .buzon__contenerimg
                        img(src="./images/svg/buzon_closed.svg" alt="imagen de buzon cerrado" class="buzon_cerrado")
                        img(src="./images/svg/buzon_open.svg" alt="imagen de buzon abierto" class="buzon_abierto")
        include inc/footer.pug