@tailwind base;
@tailwind components;
@tailwind utilities;

* {
}
.amor_prueba{
    @apply w-full;
}
.container{
    width: 100%;
}
@media (min-width: 320px) {
    .container {
        width: 100%;
    }
  }
  
  @media (min-width: 640px) {
    .container {
        width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .container {
        width: 100%;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
        width: 100%;
    }
  }
  
  @media (min-width: 1280px) {
    .container {
        width: 100%;
    }
  }
  
  @media (min-width: 1536px) {
    .container {
        width: 100%;
    }
  }